# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
dist/

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

node_modules/
.eslintcache

# Exclude large binary WSI slide data from git push
frontend/data/*.svs
frontend/data/*.png